@{
    ViewData["Title"] = "Home Page";
}


<section class="section-selling-products">
    <div class="container">
        <div class="box-left">
            <div class="box-1">
                <h2><a href>Sản phẩm bán chạy</a></h2>
                <a href>Xem thêm</a>
            </div>
            <div class="box-2">
                <div class="item">
                    <a aria-label="link-product" href>
                        <img src="~/images/sp1.webp" height="565" width="565" alt="ảnh-website" />
                    </a>
                    <div class="detail">
                        <h3>
                            <a href>Bye Bye Lines Foundation</a>
                        </h3>
                        <p>
                            Mô tả sản phẩm
                        </p>
                        <p>320,000đ</p>
                        <button>Mua ngay</button>
                    </div>
                </div>

                <div class="item">
                    <a aria-label="link-product" href>
                        <img src="~/images/sp2.webp" height="600" width="600" alt="ảnh-website" />
                    </a>
                    <div class="detail">
                        <h3>
                            <a href>Bye Bye Lines Foundation</a>
                        </h3>
                        <p>
                            Mô tả sản phẩm
                        </p>
                        <p>320,000đ</p>
                        <button>Mua ngay</button>
                    </div>
                </div>

                <div class="item">
                    <a aria-label="link-product" href>
                        <img src="~/images/sp3.webp" height="200" width="230" alt="ảnh-website" />
                    </a>
                    <div class="detail">
                        <h3>
                            <a href>Bye Bye Lines Foundation</a>
                        </h3>
                        <p>
                            Mô tả sản phẩm
                        </p>
                        <p>320,000đ</p>
                        <button>Mua ngay</button>
                    </div>
                </div>

                <div class="item">
                    <a aria-label="link-product" href>
                        <img src="~/images/sp4.webp" height="565" width="565" alt="ảnh-website" />
                    </a>
                    <div class="detail">
                        <h3>
                            <a href>Bye Bye Lines Foundation</a>
                        </h3>
                        <p>
                            Mô tả sản phẩm
                        </p>
                        <p>320,000đ</p>
                        <button>Mua ngay</button>
                    </div>
                </div>

                <div class="item">
                    <a aria-label="link-product" href>
                        <img src="~/images/sp5.webp" height="565" width="565" alt="ảnh-website" />
                    </a>
                    <div class="detail">
                        <h3>
                            <a href>Bye Bye Lines Foundation</a>
                        </h3>
                        <p>
                            Mô tả sản phẩm
                        </p>
                        <p>320,000đ</p>
                        <button>Mua ngay</button>
                    </div>
                </div>

                <div class="item">
                    <a aria-label="link-product" href>
                        <img src="~/images/sp1.webp" height="565" width="565" alt="ảnh-website" />
                    </a>
                    <div class="detail">
                        <h3>
                            <a href>Bye Bye Lines Foundation</a>
                        </h3>
                        <p>
                            Mô tả sản phẩm
                        </p>
                        <p>320,000đ</p>
                        <button>Mua ngay</button>
                    </div>
                </div>

                <div class="item">
                    <a aria-label="link-product" href>
                        <img src="~/images/sp2.webp" height="600" width="600" alt="ảnh-website" />
                    </a>
                    <div class="detail">
                        <h3>
                            <a href>Bye Bye Lines Foundation</a>
                        </h3>
                        <p>
                            Mô tả sản phẩm
                        </p>
                        <p>320,000đ</p>
                        <button>Mua ngay</button>
                    </div>
                </div>

                <div class="item">
                    <a aria-label="link-product" href>
                        <img src="~/images/sp3.webp" height="200" width="230" alt="ảnh-website" />
                    </a>
                    <div class="detail">
                        <h3>
                            <a href>Bye Bye Lines Foundation</a>
                        </h3>
                        <p>
                            Mô tả sản phẩm
                        </p>
                        <p>320,000đ</p>
                        <button>Mua ngay</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-right">
            <div class="box">
                <h3>Kết nối với chúng tôi</h3>
                <div class="social-links">
                    <a href aria-label="link-social">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href aria-label="link-social">
                        <i class="fa-brands fa-google"></i>
                    </a>
                    <a href aria-label="link-social">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href aria-label="link-social">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href aria-label="link-social">
                        <i class="fa-brands fa-skype"></i>
                    </a>
                </div>
            </div>
        </div>
</section>
